@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

:root {
    --primary-color: #004455;
    --secondary-color: #00222a;
    --tertiary-color: #006580;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--primary-color);
    font-family: Poppins, sans-serif;
    margin: 0;
}

header {
    background-color: var(--secondary-color);
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
}

.form-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}
.form {
    margin: 5px 30px;
}

.search {
    background-color: transparent;
    border: 2px solid var(--secondary-color);
    border-radius: 5px;
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    margin-right: 5px;
    color: #fff;
    width: 300px;
    margin-left: auto;
}

.search-button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    height: 40px;
    border: 2px solid #fff;
    border-radius: 3px;
}
.search-button:hover {
    background-color: #fff;
    cursor: pointer;
}

.search::placeholder {
    color: #7378c5;
}

.navbar {
    font-size: 20px;
    padding: 5px;
}

.navbar-link {
    color: #fff;
    padding: 5px;
    margin: 5px;
}

.navbar-link:hover {
    color: var(--tertiary-color);
}

.search:focus {
    outline: none;
    background-color: var(--primary-color);
}

#home {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
}

/* FILMCARD */

.filmcard {
    width: 150px;
    height: 360px;
    margin: 0.5rem;
    background-color: var(--secondary-color);
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    /* position: relative; */
    /* overflow: hidden; */
    border-radius: 3px;
}

.filmcard img {
    width: 100%;
    height: 225px;
}

.filmcard-info {
    color: #eee;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    height: 120px;
}

.filmcard-add-button {
    width: 100%;
    cursor: pointer;
    height: 50px;
    padding: 0.3rem;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}

.overview {
    background-color: #fff;
    font-size: 10px;
    padding: 0.2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.filmcard:hover .overview {
    transform: translateY(0);
}

.filmcard-add-button:hover {
    padding: 0.3rem;
    background-color: var(--tertiary-color);
    color: #fff;
    border: none;
}

/* WATCHLIST */
#watchlist-page {
    width: 90%;
    margin: auto;
}

.watchlist {
    color: #fff;
    list-style-type: none;
    width: 600px;
    max-width: 95%;
}
.watchlist-item-main {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.watchlist-delete-button {
    height: 80%;
    cursor: pointer;
}
.watchlist-item-title {
    cursor: pointer;
}

/* SPINNER */

.spinner-container {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ALERT */
.alert {
    padding: 1rem;
    margin: 1rem;
    opacity: 0.9;
    background: turquoise;
    color: #000;
    position: absolute;
    bottom: 0;
}
